<div class="input-container" [class.is-invalid]="isInvalid" [class.is-disabled]="disabled">
  <label *ngIf="label" [for]="id" class="input-label">
    {{ label }} <span *ngIf="required" class="required-star">*</span>
  </label>
  <div class="input-wrapper">
    <input
      [id]="id"
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [readonly]="readonly"
      (input)="onInput($event)"
      (blur)="onBlur()"
      class="form-input"
    />
  </div>
  <div class="error-container" *ngIf="isInvalid && errorMessage">
    <span class="error-message">{{ errorMessage }}</span>
  </div>
</div>
